<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <img src="../../assets/moda.jpg">
        <h5>MODA</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <img src="../../assets/recetas.jpg">
        <h5>RECETAS</h5>
      </ion-col>
    
      <ion-col size="6">
        <img src="../../assets/turismo.jpg">
        <h5>TURISMO</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <img src="../../assets/tecnologia.jpg">
        <h5>TECNOLOGIA</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
